<!DOCTYPE html>
<%- include('parts/header', { pageName: 'Menu' , pageTitle: 'MENU' , bodyClass: 'body_menu' }) %>

	<% if (message) { %>
		<div class="message">
			<%= message %>
		</div>
		<% } %>
			<ul>
				<% if (locals.recipes) { %>
					<% recipes.forEach(function(recipe) { %>
						<li class="pixel_egg">
							<a href="/recipe/<%= recipe.slug %>">
								<img src="<%= recipe.image_path %>" alt="<%= recipe.name %>">
							</a>
						</li>
						<% }); %>
							<% } else { %>
								<li>No recipes found.</li>
								<% } %>
			</ul>
			<div class="menu_buttons">
				<a href="/add-recipe" class="add-recipe"><button>add recipe</button></a>
				<a href="/user-recipy" class="user-recipy"><button>user recipes</button></a>
			</div>
			<%- include('parts/footer') %>

				</html>