<!DOCTYPE html>
<%- include('parts/header', { pageName: 'Menu' , pageTitle: 'MENU' }) %>

	<body>
		<% if (message) { %>
			<div class="message">
				<%= message %>
			</div>
			<% } %>
				<ul>
					<% if (locals.recipes) { %>
						<% recipes.forEach(function(recipe) { %>
							<li class="pixel_egg">
								<a href="/recipe/<%= recipe.slug %>">
									<img src="<%= recipe.image_path %>" alt="<%= recipe.name %>">
								</a>
							</li>
							<% }); %>
								<% } else { %>
									<li>No recipes found.</li>
									<% } %>
				</ul>
		<button onclick="location.href='/add-recipe'" class="add-recipe">add recipe</button>
		<button onclick="location.href='/user-recipy'" class="user-recipy">user recipes</button>
	</body>
	<%- include('parts/footer') %>

		</html>