<!DOCTYPE html>
<%- include('parts/header', { pageName: 'Menu' , pageTitle: 'MENU' }) %>

	<body class="body_menu">
		<% if (message) { %>
			<div class="message">
				<%= message %>
			</div>
			<% } %>
				<ul>
					<% if (locals.recipes) { %>
						<% recipes.forEach(function(recipe) { %>
							<li class="pixel_egg">
								<a href="/recipe/<%= recipe.slug %>">
									<img src="<%= recipe.image_path %>" alt="<%= recipe.name %>">
								</a>
							</li>
							<% }); %>
								<% } else { %>
									<li>No recipes found.</li>
									<% } %>
				</ul>
	</body>
	<%- include('parts/footer') %>

		</html>
